/* colours:
#FFCDB2 - apricot
#FFB4A2 - melon
#C299A1 - rosy brown
#7B656F - wenge
#6D6875 - dim grey
#CBC9CF - french grey
#323036 - jet
*/

/* Global */

.hidden {
    display: none !important;
}

body {
    font-family: Montserrat, Arial, sans-serif;
    background-color: #6D6875;
}

h1 {
    color: #323036;
    font-size: 2rem;
    margin: 5px;
}

p {
    color: #323036;
    padding: 0;
    margin: 0;
}


/* Header */
.header {
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    background: #CBC9CF;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.08);
    font-size: 1rem;
    margin-bottom: 20px;
}

/* Home page */
.intro-card,
.view-items-container,
.open-event-container,
.notes {
    margin: 10px 5px;
    padding: 5px;
    border-radius: 8px;
    background: #CBC9CF;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.08);
    text-align: justify;
}

.intro-card p {
    font-size: 1rem;
    line-height: 1.4;
    margin-bottom: 5px;
}

/* Buttons/links */
.donate-button-container, 
.view-items-link-container {
    flex: 0 0 auto;
    text-align: center;
    margin: 15px 0;
}

.donate-button-link,
.view-items-link {
    min-height: fit-content;
    display: inline-block;
    background-color: #FFCDB2;
    padding: 4px 8px;
    color: #323036 !important;
    font-size: 1.2rem;
    font-weight: bold !important;
    line-height: 26px !important;
    letter-spacing: .25px !important;
    text-decoration: none;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: Montserrat, Arial, sans-serif;
}

.view-items-link {
    margin: 4px 8px;
}

/* Divider */
.line-divider {
    width: 100%;
    height: 1px;
    background-color: #CBC9CF;
    margin: 15px 0;
}

/* Filters */
.filter-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 20px;
    margin: 0 0 20px 0;
    background: none;
    color: #323036;
}

.filter-bar label {
    cursor: pointer;
    margin: 0.2rem;
    border-radius: 20px;
    font-size: 0.9rem;
    user-select: none;
    display: inline-block;
    background: none;
    padding: 0;
    color: #CBC9CF;
}

/* Hide the real checkboxes */
.filter-bar input[type="checkbox"] {
    display: none;
}

.filter-bar label span {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    transition: all 0.2s ease;
    text-decoration: underline;
}

/* Checked state */
.filter-bar input[type="checkbox"]:checked+span {
    background: linear-gradient(20deg, #C299A1, #FFB4A2);
    color: #323036;
    border: 2px solid #323036;
}

/* Items */
.items-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
}

.item-card {
    flex: 1 1 30%;
    max-width: 200px;
    min-height: 400px;
    border: 1px solid #7B656F;
    border-radius: 12px;
    padding: 12px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    background: linear-gradient(20deg, #C299A1, #FFB4A2);
}

.item-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.item-card h2 {
    margin: 10px 0;
    color: #323036;
    text-align: left;
    font-size: 1rem;
}

.item-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 12px;
}

.item-card p {
    text-align: left;
    font-size: 0.9rem;
    line-height: 1.4;
    margin-bottom: 5px;
}

/* Desktop styles */
@media (min-width: 701px) {
    /* Global */
    h1 {
        color: #323036;
        font-size: 5rem;
    }

    /* Header */
    .header {
        margin-bottom: 10px;
    }

    /* Home page */
    .intro-card {
        margin: 20px 0;
    }
    .intro-card p {
        font-size: 1.2rem;
        line-height: 1.6;
    }

    /* Buttons */
    .donate-button-link,
    .view-items-link {
        padding: 12px 20px;
        font-size: 1.5rem;
    }
    /* Divider */
    .line-divider {
        margin: 20px 0;
    }

    /* Filters */
    .filter-bar label {
        font-size: 1rem;
    }

    /* Items */
    .items-container {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: space-evenly;
    }
    .item-card {
        max-width: 300px;
    }
    .item-card img {
        height: 280px;
    }
    .item-card h2 {
        margin: 15px 0 10px;
        font-size: 1.2rem;
    }
    .item-details {
        margin-bottom: 15px;
    }
    .item-card p {
        font-size: 1rem;
    }
}