/* colours:
#FFCDB2 - apricot - buttons
#FFB4A2 - melon - card background gradient
#C299A1 - rosy brown - card background
#7B656F - wenge - borders
#6D6875 - dim grey - page background
#CBC9CF - french grey - disabled buttons
#323036 - jet - text
*/

.hidden {
    display: none !important;
}

body {
    font-family: Montserrat, Arial, sans-serif;
    background-color: #6D6875;
}

.header {
    text-align: center;
    padding: 5px;
    border-radius: 8px;
    background: #CBC9CF;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.08);
    font-size: 1rem;
    margin-bottom: 5px;
}

h1 {
    color: #323036;
    font-size: 2rem;
    margin: 5px;
}


/* Intro card */

p {
    color: #323036;
    padding: 0;
    margin: 0;
}

.intro-card {
    margin: 5px 0;
    padding: 5px;
    border-radius: 8px;
    background: #CBC9CF;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.08);
    text-align: center;
}

.intro-card p {
    font-size: 1rem;
    line-height: 1.4;
    margin-bottom: 15px;
}


/* Donate button */

.donate-button-container {
    flex: 0 0 auto;
    text-align: center;
}

.donate-button-link {
    min-height: fit-content;
    display: inline-block;
    background-color: #FFCDB2;
    padding: 4px 8px;
    color: #323036 !important;
    font-size: 1.2rem;
    font-weight: bold !important;
    line-height: 26px !important;
    letter-spacing: .25px !important;
    text-decoration: none;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: Montserrat, Arial, sans-serif;
}

.line-divider {
    width: 100%;
    height: 1px;
    background-color: #CBC9CF;
    margin: 10px 0;
}


/* Filters */

.filter-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 20px;
    margin: 0 0 20px 0;
    background: none;
    color: #323036;
}

.filter-bar label {
    cursor: pointer;
    margin: 0.2rem;
    border-radius: 20px;
    font-size: 0.9rem;
    user-select: none;
    display: inline-block;
    background: none;
    padding: 0;
    color: white;
}


/* Hide the real checkboxes */

.filter-bar input[type="checkbox"] {
    display: none;
}

.filter-bar label span {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    transition: all 0.2s ease;
}


/* Checked state */

.filter-bar input[type="checkbox"]:checked+span {
    background: linear-gradient(20deg, #C299A1, #FFB4A2);
    color: #323036;
    border: 2px solid #323036;
}


/* Items */

.items-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
}

.item-card {
    flex: 1 1 30%;
    max-width: 100%;
    border: 1px solid #7B656F;
    border-radius: 12px;
    padding: 12px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    background: linear-gradient(20deg, #C299A1, #FFB4A2);
}

.item-card img {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}

.item-card h2 {
    margin: 10px 0 5px;
    color: #323036;
    text-align: center;
    font-size: 1.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 12px;
}

.item-card p {
    text-align: left;
    font-size: 0.9rem;
    line-height: 1.4;
}

.reserve-btn {
    margin: auto 8px;
    padding: 8px 12px;
    background-color: #FFCDB2;
    color: #323036;
    border: none;
    border-radius: 18px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
}

.reserve-btn:disabled {
    background-color: #CBC9CF;
    cursor: not-allowed;
}


/* Desktop styles */

@media (min-width: 701px) {
    .header {
        margin-bottom: 10px;
    }
    h1 {
        color: #323036;
        font-size: 5rem;
    }
    /* Intro card */
    .intro-card {
        margin: 20px 0;
    }
    .intro-card p {
        font-size: 1.2rem;
        line-height: 1.6;
    }
    /* Donate button */
    .donate-button-link {
        padding: 12px 20px;
        font-size: 1.5rem;
    }
    .line-divider {
        margin: 20px 0;
    }
    /* Filters */
    .filter-bar label {
        font-size: 1rem;
    }
    /* Items */
    .items-container {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: space-evenly;
    }
    .item-card {
        max-width: 300px;
    }
    .item-card h2 {
        margin: 15px 0 10px;
        font-size: 1.5rem;
    }
    .item-details {
        margin-bottom: 15px;
    }
    .item-card p {
        font-size: 1rem;
    }
}